@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
	margin: 0;
	padding: 0;
    outline: none;
}
html{
        background: #fff;
}
body{
  background-color: #fff;
font-family: 'Nunito', sans-serif;
}
header{
	position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    left: 0px;
    background: #fff ;
    z-index: 1000;
    box-shadow: 0 2px 5px #ddd;
}
.userporfile{
	width: 10%;
    float: right;
    margin: 1.5% 0%;
}
.userporfile a{
	line-height: 50px;
	color: #444;
}
.logo{
    background: #fff;
    font-family: "ALHAMBRA";
    font-size: 2em;
    line-height: 55px;
    margin-left: 3%;
    font-style: italic;
    float: left;
    text-align: left;
    width: 20%;
    display: block;
}
.logo>a{
    margin-right: 5%;
}
#uname{
  color: #444;  
  font-family: "ALHAMBRA";
}
#logout i{
    margin-left: 10%;
    font-size: 1.3em;
    color: #555;
}
#logout i:hover{
    color: #aaa;
}
/*--------sidebar----------*/
.sidebar{
	width: 20%;
	height: 95vh;
	position: fixed;
	left: 0;
	top: 8%;
    overflow:hidden; 
	background: #f9f9f9 !important;
    transition: 0.5s;
}
.sidebar-min{
    left: -20%;
}
.waves-effect{
	color: #777;
}
.waves-effect i{
	margin: 2%;
}
.nav{
	margin-top: 20%;
}
.nav li a{
	color: #999;
    transition: 0.3s;
}
.nav li a i{
    margin: 2% 3%;
    transition: 0.3s;
    color: #999;
}
.nav li a:hover,.nav li a:focus{
    background: #424141 !important;
    color: #fff;
    }
.nav li a:hover i{
    color: #fff;
}
.nav-icon i{
    color: #aaa;
    font-size: 65%;
}


/*---------main page----------*/
.main-page{
	width: 80%;
	margin-top: 7%;
    background-color:rgba(255,255,255,0.94);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen; 
    float: right;
    transition: 0.5s;
}
.main-page-min{
    width: 100%;
}

/*--------order div-----------*/
.orders{
    padding: 0% 5% 2%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table{
    box-shadow: 0 2px 5px #eaeaea !important;
    border-radius: 10px 10px 0 0 !important;
}
.table>thead>tr>th {
    border-bottom: none !important;
    font-size: 0.9em;
    color: #fff;
    background: #636060;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}
.table>thead>tr>th:first-child{
	border-radius: 10px 0 0 0;
}
.table>thead>tr>th:last-child{
	border-radius: 0 10px 0 0;
    
}

.table>tbody>tr>td{
    font-family: 'Nunito', sans-serif;
    border-top: none !important;
    background: #fff;
    font-size: 80%;
    box-shadow: inset 0 1px 1px 1px #f9f9f9;
    text-transform: capitalize;
}
.table>tbody>tr>td:nth-child(3){
    text-transform: none;
}
/*------add menu div--------*/
#add{
	width: 100%;
	background: transparent;
	overflow: auto;
    font-size: 0.9em;
}
#addmenu{
    position: relative;
    width: 45%;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #424141;
    border-radius: 10px;
    padding: 0 0 1% 0;
    margin-left: 5%;
    float: left;
    text-align: center;
}
.input{
	width: 75%;
    border-radius: 3px;
    border: none;
    padding: 2%;
    outline: none;
    margin: 5px;
 
}
#category{
    width: 75%;
    padding: 2%;
    color: #555;
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 5px;
 
}
#desc{
    border-radius: 3px;
    width: 75%;
    border: none;
    padding: 2%;
    outline: none;
    margin: 5px;
 
}
#quantity{
	height: 40px;
	padding: 10px;
	color: #555;
    border-radius: 3px;
	border: none;
	outline: none;
	margin: 5px;
}

/*----veg nonveg----*/
.content-div{
    padding: 1%;
    overflow: auto;
}
.content{
    display: inline;
}
.content label{
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    /* display: block; */
    /* height: 68px; */
    width: 20%;
    background: #fff;

    padding: 3%;
    cursor: pointer;
    font-size: 1em;
    opacity: .5;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
img{
    width: 100%;
}
.content label:hover,.content label:focus,.content label:active{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="radio"]:active ~ label {
  opacity: 1;
  background: #fef39c;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
  border: 1px solid #333;
}
/*#submit{
	font-family: 'Quicksand', sans-serif;
	padding: 2%;
	border-radius: 25px;
	background-color: #333;
	color: #fff;
	border: none;
	outline: none;
	margin: 1% ;
}*/
.fa{
	text-decoration: none;
	color: #fff;
}
.tooltip_menu{
	display: none;
    padding: 1%;
    position: absolute;
    left: 57%;
    bottom: 1%;
    border-radius: 3px;
    background: #d2d2d2;
    width: 20%;
    color: #000;
    font-size: 81%;
}
#show_menu{
    display: block;
    text-decoration: none;
    color: #fff;
    width: 10%;
    margin: 3% auto;
}


#add-title{
    text-align: left;
    font-size:13px;
    color: #fff;
    display: block;
    padding: 4%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}
#add-title i{
    font-size: 150%;
    margin:0 2%;
}


/*--------add admin-----------*/
.addAdmin{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    background-color: #424141;
    width: 40%;
    float: right;
    margin-right: 5%;
    padding: 0 0 1% 0;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9em;
}
.addAdmin input{
	border-radius: 3px;
	border:none;
	outline: none;
	padding: 2%;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 4%;
    width: 80%;
}
input[type="submit"]{
	font-family: 'Quicksand', sans-serif;
	padding: 2%;
	border-radius: 25px;
	background-color: #444;
	color: #fff;
	border: none;
	outline: none;
	margin: 1% ;
	width: auto;
	box-shadow: 0 2px 5px #000;
    transition: 0.1s;
}
input[type="submit"]:hover{
    box-shadow: inset 0 0 2px #000;
    background-color: #333;
    transform: translate(1px,2px);
}
/*-------special members------*/
.special-opt{
    display: none;
    transition: 1s important;
}

.special li{
    list-style: none;
    padding: 2% 14% 2%;
    background: #ddd;
}
.special li a{
    text-decoration: none;
    color: #777 !important;
}
.special li i{
     color: #777 !important;
}
.special li:hover{
    background: #424141 !important;
    color: #fff !important; 
}
.special li:hover a{
    color: #fff !important;
}
.special li:hover i{
    color: #fff !important;
}
.special li a:hover{
    text-decoration: none !important;
}
/*------users div-------*/
#users{
    padding: 2% 5%;
    width: 100%;
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 20px;
}

/*------media queries-------*/
@media screen and (max-width: 768px){

    .sidebar{
      left: -20%;
      z-index: 100;
      height: 100vh;
      top: 5%;
      height: 100%;
    }
    .sidebar-min{
        width: 70%;
        left: 0;
        top: 5%;
        height: 100%;
    }
    .main-page{
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .logo>a {
    margin-right: 10%;
    }
}